{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div id="main">

<div id="cent-cont">
<h1>404</h1>

<p>Sorry, we can’t seem to find what you are looking for.</p>
</div>

</div>

{{ partial "footer.html" . }}
