{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div id="logo">

<div id="logoimg-cont">
<img src="{{ .Site.BaseURL }}images/logo.png" alt="greenhatlabs.com"/>
</div>

</div>



<div id="main">

{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

{{ range sort .Paginator.Pages }}


<div id="post-cont">


<a href="{{ .Permalink }}" class="post-link">
   


<p class="post-date-indx">{{ .Date.Format "January 2, 2006" }}</p>

<h1 class="post-title-indx">{{ .Title }}</h1>

<p>{{ .Summary }}</p>




</a>

</div>


{{ end }}

</div>






{{ partial "pagnav.html" . }}

{{ partial "footer.html" . }}
