/* General Settings */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

div {
  border: none; }

img {
  max-width: 100%;
  height: auto; }



/*---------- Fonts ----------*/

@font-face {
  font-family: 'font-code';
  src: url('https://greenhatlabs.com/fonts/dejavu-sans-mono/dejavusansmono-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/dejavu-sans-mono/dejavusansmono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'font-txt';
  src: url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'font-txt-it';
  src: url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-italic-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'font-txt-bld';
  src: url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-bold-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'font-txt-bldit';
  src: url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-bolditalic-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/dejavu-serif/dejavuserif-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'font-nav';
  src: url('https://greenhatlabs.com/fonts/dejavu-sans/dejavusans-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/dejavu-sans/dejavusans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'font-head';
  src: url('https://greenhatlabs.com/fonts/dejavu-sans/dejavusans-bold-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/dejavu-sans/dejavusans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }



/*---------- Never Change Font ----------*/

@font-face {
  font-family: 'font-logo';
  src: url('https://greenhatlabs.com/fonts/michroma/michroma-webfont.woff2') format('woff2'),
       url('https://greenhatlabs.com/fonts/michroma/michroma-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal; }



/* General Style */

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

html {
  background-color: #ffffff;
  color: #000000;
  border: none; }

body {
  background-color: #ffffff;
  max-width: 23cm;
  border: none;
  margin: 0 auto; }

h1 {
  font-family: font-head, Arial, Helvetica, sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: font-head, Arial, Helvetica, sans-serif;
  margin-bottom: 0; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.1rem; }

p,
a {
  font-family: font-txt, Georgia, serif;
  line-height: 1.8;
  font-size: 1.0rem;
  margin-top: 0;
  margin-bottom: 0.5rem; }

a {
  color: #0099ff;
  text-decoration: none; }

a:hover {
  color: #0000ff;
  text-decoration: none; }

a.license-link {
  color: #000000;
  text-decoration: none;
  font-family: font-nav, Arial, Helvetica, sans-serif;
  font-size: smaller; }

a.license-link:hover {
  color: #808080;
  text-decoration: none;
  font-family: font-nav, Arial, Helvetica, sans-serif;
  font-size: smaller; }

ul,
li,
ol {
  line-height: 1.8;
  margin-left: 0.5em; }

ul {
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none; }

ul.nomark {
  list-style-type: none;
  list-style-position: inside;
  list-style-image: none; }

ol {
  list-style-type: decimal;
  list-style-position: inside;
  list-style-image: none; }

small {
  font-family: font-nav, Arial, Helvetica, sans-serif;
  font-size: smaller; }

em {
  font-family: font-txt-it, Georgia, serif; }

strong {
  font-family: font-txt-bld, Arial, Helvetica, sans-serif; }

strong > em {
  font-family: font-txt-bldit, Georgia, serif; }

strong > a {
  font-family: font-txt-bldit, Georgia, serif; }

footer {
  font-family: font-txt-it, Georgia, serif; }


/* Font Colours */

.white {
  color: #ffffff; }

.red {
  color: #ff5522; }

.orange {
  color: #ffcc22; }


/* Background Colours */

.bg-light-gray {
  background-color: #eeeeee; }

.bg-mid-gray {
  background-color: #777777; }

.bg-dark-gray {
  background-color: #333333; }


/* Quote and Cite */

blockquote {
  padding-left: 0.75em;
  font-style: italic;
  border-left: 3px solid #007400;
  margin-bottom: 1.8rem; }

blockquote > footer {
  font-size: 0.85rem;
  font-style: normal;
  background-color: #fff;
  color: #7a7a7a;
  border-color: transparent; }

cite {
  font-family: font-txt-it, Georgia, serif; }

.highlight {
  background-color: #c1c1c1;
  padding: 0.5em;
  margin: 2em 1.5em 2em 0.5em;
  font: font-code, "Courier New", Courier, monospace;
  line-height: 1.2em;
  overflow: auto;
  font-size: 1em;
  border: 1px solid #007400; }

code, pre {
  color: #555555;
  font-family: font-code, "Courier New", Courier, monospace;
  font-size: 0.9em;
  margin: 0.5em 0 0.5em 0; }

.highlight span {
  font-family: font-code, "Courier New", Courier, monospace;
  font-size: 1em; }

p > code {
  color: #555555;
  font-family: font-code, "Courier New", Courier, monospace;
  font-size: 0.9em;
  line-height: 1.8; }


/*---------- Header ----------*/

#header {
  max-width: 100%; }

#logo-cont {
  float: left; }

a.logo-link {
  font-family: font-logo, Arial, Helvetica, sans-serif;
  color: #007400;
  font-size: 1.8rem; }

a.logo-link:hover {
  color: #007400; }

#nav-cont {
  float: right;
  padding-top: 0.75em; }

#nav-cont a + a {
  margin-left: 4.5em; }

a.nav-link {
  font-family: font-nav, Arial, Helvetica, sans-serif;
  color: #808080; }

a.nav-link:hover {
  font-family: font-nav, Arial, Helvetica, sans-serif;
  color: #000000;
  text-decoration: overline; }

@media screen and (max-width: 48em) {
  #logo-cont {
    width: 100%;
    text-align: center; }

  #nav-cont {
    width: 100%;
    text-align: center; } }


/*---------- Index Page ----------*/

#logo {
  max-width: 100%;
  padding-top: 4em;
  padding-bottom: 2em; }

#logoimg-cont {
  max-width: 140px;
  margin: 0 auto; }

#main {
  max-width: 100%; }

#post-cont {
  max-width: 100%;
  padding-top: 4em; }

a.post-link {
  color: #000000;
  text-decoration: none; }

a.post-link:hover {
  color: #808080;
  text-decoration: none; }

p.post-date-indx {
  font-family: font-txt-it, Georgia, serif;
  font-size: 0.8rem;
  margin: 0; }

h1.post-title-indx {
  margin-top: 0; }


/*---------- Pagination ----------*/

#pagination {
  max-width: 100%; }

#newer-cont {
  float: left;
  padding-top: 3em; }

span.nav-link-disable {
  font-family: font-nav, Arial, Helvetica, sans-serif;
  line-height: 1.8;
  font-size: 1.0rem;
  margin-top: 0;
  margin-bottom: 1.8rem;
  opacity: 0.5; }

#older-cont {
  float: right;
  padding-top: 3em; }


/*---------- Footer ----------*/

#footer {
  max-width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center; }


/*---------- Post Page ----------*/

#postpage-cont-title {
  max-width: 100%;
  padding-top: 1em; }

h1.post-title-pst {
  margin-bottom: 0; }

#postpage-cont-date {
  max-width: 100%;
  padding-top: 0.5em; }

span.post-date-pst {
  font-family: font-txt-it, Georgia, serif;
  font-size: 0.8rem;
  margin: 0; }

#postpage-cont-content {
  max-width: 100%;
  padding-top: 2em; }


/*---------- Regular Pages ----------*/

#page-section {
  max-width: 100%;
  padding-top: 1em; }

