{{ partial "head.html" . }}

{{ partial "header.html" . }}


<div id="main">

<div id="page-section">
<h1>Archive - Category</h1>
</div>

<div id="page-section">
<ul>
{{ range $key, $taxonomy := .Site.Taxonomies.categories }}
<h5>{{ $key }}</h5>

<ul class="nomark">
{{ range $taxonomy.Pages }}
<li hugo-nav="{{ .RelPermalink}}">
<a href="{{ .Permalink}}" class="post-link"> {{ .LinkTitle }}</a>
</li>
{{ end }}
</ul>

{{ end }}
</ul>
</div>

</div>

{{ partial "footer.html" . }}