<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>greenhatlabs.com</title>

<link rel="canonical" href="{{ .Permalink }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
</head>


<body>
