{{ partial "head.html" . }}

{{ partial "header.html" . }}


<div id="main">

<div id="postpage-cont-title">
<h1 class="post-title-pst">{{ .Title }}</h1>
</div>

<div id="postpage-cont-date">
<span class="post-date-pst">{{ .Date.Format "January 2, 2006" }}</span><br>

<div id="postpage-cont-content">
{{ .Content }}
</div>

<div>
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="{{ .Site.BaseURL }}images/80x15.png" /></a>
<br />
<small>This work is licensed under a </small><a rel="license" href="https://creativecommons.org/licenses/by/4.0/" class="license-link">Creative Commons Attribution 4.0 International License</a>.
</div>

</div>


<div>


</div>


{{ partial "footer.html" . }}
